.button:hover{

    -fx-text-fill: -fx-text-base-color;

}

.button
{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 7,0,0,1 );


}

.button
 {
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

/*.label{
    
    -fx-border: 50px, solid black;
    -fx-border-radius: 50px;
    -fx-border-color: #ff8b35;
    -fx-alignment: center;
}*/

#tf{
    -fx-alignment: center;
    -fx-background-radius: 50; 
}
#tf:focused{
    -fx-border-color:#ff8b35;
    -fx-border: 50px, solid black;
    -fx-border-radius: 50px; 
}


.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-border-color: #ff8b35;
}